---
---

@import "{{ site.theme }}";

.page-header {
    background-image: linear-gradient(120deg, #FFFF00, #FFFF00, #0000CD, #0000CD, #FF0000, #FF0000);
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}
