---
---

@import "{{ site.theme }}";

.page-header {
    background-image: linear-gradient(120deg, #FFFF00, #FFFF00, #0000CD, #0000CD, #FF0000, #FF0000);
    padding: 20px 5px 1px;
}

table {
    border-collapse: collapse;
}

.main-content table th {
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #D3D3D3;
    border-left-style: hidden;
}

.main-content table td {
    border: 1px solid #D3D3D3;
}

.main-content h1 {
    font-weight: bold;
    color: #8B4513;
}

.main-content h2 {
    font-style: italic;
    color: #8B4513;
}
