---
---

@import "{{ site.theme }}";

.page-header {
    background-image: linear-gradient(120deg, #FFFF00, #FFFF00, #0000CD, #0000CD, #FF0000, #FF0000);
    padding: 20px 5px 1px;
}

table {
    border-collapse: collapse;
}

.main-content table th {
    border-color: #FFFFFF;
    border-bottom: 1px solid #D3D3D3;
}

.main-content table td {
    border: 1px solid #D3D3D3;
}

.main-content h1 {
    font-weight: bold;
    color: #8B4513;
}

.main-content h2 {
    font-style: italic;
    color: #8B4513;
}

h5 a:link, h5 a:visited{
    background-color: #FF0000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
}

h5 a:hover, h5 a:active {
    background-color: #FFDF00;
    border-radius: 25px;
}

h2 a:link, h2 a:visited{
    background-color: #FFDF00;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
}

h2 a:hover, h2 a:active {
    background-color: #FF0000;
    border-radius: 25px;
}
